doctype html
html
  head
    title= 'Rolling Pinn Application'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      img(src="https://cdn.shopify.com/s/files/1/0241/3042/0813/files/LOGO4_195x.jpg?v=1585841694" alt="logo")

      .container
        block content

    script(src="/javascripts/main.js")